
.centered {
  text-align: center;
}

#myDiv {
  width: 800px;
  height: 600px;
}

p {
  position: absolute;
  bottom: 100px;
  left: 450px;
  transform: translateX(-50%);
}

h2 {
  position: relative;
  top: 5px; /* adjust the top position to your liking */
  left: 37%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}