body {
  margin: 0 auto;
  /* Puedes cambiar el color de fondo (background-color) si lo deseas */
  background-color: #fcfcfc;
  max-width: 1200px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.js-plotly-plot .plotly .main-svg {

  border: 0px;
}

svg {
  border: solid 1px rgb(0, 0, 0);
}

/* Footer always stays at the bottom */
.site-footer {
  background-color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Pushes the footer to the bottom */
}




.textStart {
  flex: 1; /* Allow the textStart to take up available space */
}

.textStart li {
  padding-top: 8px;
}

.textStart.legend span {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}


#additional-info {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Spread the items apart */
  align-items: flex-start; /* Align them at the top (same height) */
  font-size: 14px;
}

#country-selector {
  margin-top: 10px;
  margin-bottom: 5px;
}

#countrySelect {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#vis {
  width: 200%; /* Set the width to 100% of its parent */
  margin: 0 auto; /* Center horizontally */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center content vertically, if needed */
  
}

.table {
  
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}

#additional-info {
  top: 100px; /* adjust as needed */
  left: 100px; /* adjust as needed */
}

#slider-container {
  position: absolute;
  left: 700px; /* adjust as needed */
}

#top3-table{
  left: 100px;
}