body {
  margin: 0 auto;
  /* Puedes cambiar el color de fondo (background-color) si lo deseas */
  background-color: #fcfcfc;
  color: rgb(47, 47, 47);
  max-width: 1200px;
  min-width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

svg {
  border: solid 1px rgb(0, 0, 0);
}

/* Footer always stays at the bottom */
.site-footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.divLine {
  margin-top: 30px;
  height: 3px;
  width: 100%;
  background-color: rgb(126, 138, 138);
}

.table {
  flex: 1; /* Allow the table to take up available space */
  margin-right: 20px; /* Add some space between the table and text */
}

.textStart {
  flex: 1; /* Allow the textStart to take up available space */
}

.textStart li {
  padding-top: 8px;
}

.textStart.legend span {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}

#buttons {
  margin-top: 3px;
  margin-bottom: 10px;
}

#buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #0096ff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

#buttons button:hover {
  background-color: #007bff;
}

#additional-info {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Spread the items apart */
  align-items: flex-start; /* Align them at the top (same height) */
  margin-top: 10px;
  font-size: 14px;
}
